/* vim: set ts=4 sw=4 noet : */
html {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
code {
	white-space: pre-wrap;
}
a {
	text-decoration: none;
	color: #EF7C7C;
}
a:hover {
	color: #8EA4F9;
}
.container {
	display: flex;
	flex-direction: row;
	margin-left: 2em;
	margin-right: 2em;
}
.row {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.wide_column {
	display: flex;
	flex-direction: column;
	flex-basis: 70%;
	flex: 2;
}
.narrow_column {
	display: flex;
	flex-direction: column;
	flex-basis: 30%;
	flex: 1;
}
