/* vim: set ts=4 sw=4 noet : */
html {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
code {
	white-space: pre-wrap;
}
a {
	text-decoration: none;
	color: #EF7C7C;
}
a:hover {
	color: #8EA4F9;
}
#main_container {
	margin-left: 300px;
	display: inline-block;
	max-width: 700px;
}
