/* vim: set ts=4 sw=4 noet : */
html {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
code {
	white-space: pre-wrap;
}
a {
	color: #EF7C7C;
}
a:hover {
	color: #8EA4F9;
}

h3 {
}

h4, h5, h6 {
	color: rgb(90, 90, 90);
}

.container {
	display: grid;
	grid-template-columns: repeat(6, 2fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	margin-left: 2em;
	margin-right: 2em;
}
.narrow_column {
	grid-column: 1 / span 2;
	grid-row: 1;
}
.wide_column {
	grid-column: 3 / span 4;
	grid-row: 1;
	padding-right: 2em;
	padding-left: 0.5em;
}
.below_column {
	padding-top: 2em;
	grid-column: 1/4;
	grid-row: 2;
}
.below_column_two {
	padding-top: 2em;
	grid-column: 4/7;
	grid-row: 2;
}
footer {
	font-size: 0.75em;
}
.left_divider {
	padding-left: 10px;
	border-left: 1px solid #ABABAB;
}

.contact > p {
	margin-top: 0;
	font-size: 0.75em;
}
#job_title {
	margin-bottom: 0;
}
